.main{
    width: 1200px;
    margin: 30px auto;
    overflow: hidden;
    .list{
        width: 1200px;
        overflow: hidden;    
        ul{
            li{
                float: left;
                width: 230px;
                padding: 5px;
                position: relative;
                &:hover{
                    padding: 0;
                    border: rgb(231, 227, 227) 5px solid
                }
                dl{
                    padding: 10px 14px;
                    border: 1px solid #fff;
                    background: white;
                    position: relative;
                    &:hover{
                        border-color: rgb(192, 191, 191);
                    }
                    dt{
                        a{
                            img{
                                width: 200px;
                                height: 200px;
                            }
                        }
                    }
                    dd{
                        .list-price{
                            line-height: 17px;
                            margin-top: 7px;
                            height: 17px;
                            overflow: hidden;
                            color: #d71635;
                            span{
                                font-size: 14px;
                                float: left;
                                // display: inline-block;
                                margin-right: 3px;
                                i{
                                    font-size: 18px;
                                    font-weight: normal;
                                    font-style: normal;

                                }
                                b{
                                    font-size: 18px;
                                    font-weight: normal;
                                    // float: left;
                                    display: inline-block;
                                }
                              
                            }
                        }
                        .list-tit{
                            line-height: 21px;
                            margin-top: 2px;
                            height: 42px;
                            overflow: hidden;
                        }
                        .car{
                            height: 29px;
                            margin-top: 5px;
                            span{
                                float: left;
                                // display: inline-block;
                                height: 29px;
                                width: 45px;
                                input{
                                    float: left;
                                    width: 29px;
                                    height: 25px;
                                    line-height: 25px;
                                    border: 1px solid #ddd;
                                    text-align: center;
                                    outline: none;
                                }
                                em{
                                    float: right;
                                    position: relative;
                                    width: 11px;
                                    height: 27px;
                                    outline: none;
                                    border: 1px solid #ddd;
                                    i.add{
                                        border-bottom: 1px solid #ddd;
                                        top: 0;
                                        position: absolute;
                                        left: 0;
                                        cursor: pointer;
                                        display: inline-block;
                                        width: 11px;
                                        height: 13px;
                                        background: url(http://www.colipu.com/themes/2016_B2C/Content/images/icon/icon-addsub.png) no-repeat 0 0;
                                    }
                                    i.sub{
                                        bottom: 0;
                                        position: absolute;
                                        left: 0;
                                        cursor: pointer;
                                        display: inline-block;
                                        width: 11px;
                                        height: 13px;
                                        background: url(http://www.colipu.com/themes/2016_B2C/Content/images/icon/icon-addsub.png) no-repeat 0 -14px;
                                    }
                                }
                            }
                            a{
                                float: left;
                                // display: inline-block;
                                width: 98px;
                                height: 27px;
                                line-height: 27px;
                                margin-left: 15px;
                                border: 1px solid #ddd;
                                color: #d71635;
                                i{
                                    float: left;
                                    margin: 8px 6px 0 7px;
                                    width: 14px;
                                    height: 12px;
                                    background-image: url(http://www.colipu.com/themes/2016_B2C/Content/images/icon/icon-buy.png);
                                    // display: inline-block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}